<h2>Exchnage Market : {{echangeMarket}}</h2>
<table id="customers">
	<tr>
		<th>Symbol</th>
		<!--th>3mo B/P Counter</th-->
		<th>Current price</th>
		<!--th>Current price Variation %</th-->
		<th>+/-</th>
		<th>chart+</th>
	</tr>
	<tr *ngFor="let stock of stocksToDisplay">
		<td>{{stock.symbol}}</td>
		<!--td>{{stock.threeMonthsProfitCounter}} / {{stock.threeMonthsLossCounter}}</td-->
		<td>{{stock.currentPrice  | number : '1.2-2'}} $</td>
		<!--td>{{stock.curentPriceVariationPercent | number : '1.2-2'}} %</td-->
		<td>{{stock.threeMonthsProfitLossPlusMinusChart}}</td>
		<td>
			<div class="chart-container">
				<canvas id="{{'chart'+stock.symbol}}"></canvas>
			</div>
		</td>
	</tr>
</table>
